<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">

    <div class="col-sm-4">
        <div class="well">
          <ul>
              <li>Grado de Informática</li>
              <li>MII</li>
              <li>MFP</li>
          </ul>
        </div>
    </div>

    <div class="col-sm-8">
    <div class="jumbotron">
      <h1>ULL</h1>
      <p>Welcome to our class!</p>
    </div>
  </div>


</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>